.card-container{
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  max-width: 85%;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.card-window{
  width: 308px;
  height: auto;
}

.card-window > img{
  width: 100%;
  height: 305px;
  object-fit: cover;
  border-radius: 15px;
}

.card-title{
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.card-distance, .card-date{
  color: #6f6f6f;
}


.card-date{
  font-weight: 500;
}

.card-price{
  font-size: 18px;
  margin-top: 10px;
}


.card-title .title-icon {
  display: flex;
  gap: 3px;
}

.title-icon{
  font-weight: 300;
  font-size: 16px;
}


.home-section{
  display: flex;
  background: white;
  padding: 25px 65px;
  }

