.img-container {
  display: grid;
  grid-gap: 20px;
  margin-left: 125px;
}

.img-content {
  display: grid;
  grid-template-columns: 325px 325px; 
  grid-template-rows: auto 1fr;  
  grid-template-areas: 
    "image content-info"
    "buttons buttons";
  gap: 20px;
  padding: 20px;
}

.image-wrapper {
  grid-area: image;
}

.img-content-info {
  grid-area: content-info;
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
}

img {
  width: 50%;
  height: auto;
}

.update, .delete {
  padding: 8px 12px;
  cursor: pointer;
}
